/* Define custom font */
@font-face { 
  font-family: Andy Bold Font; 
  src: url('Extras/ANDYB.TTF'); 
} 

@font-face { 
  font-family: Andy Bold Font; 
  font-weight: bold; 
  src: url('Extras/ANDYB.TTF'); 
}

/* Reset margin, padding, and set box-sizing and font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Andy Bold Font;
}

/* Set custom cursor for the entire document */
html {
cursor: url('Extras/cursor.png'), auto;
}

/* Define custom color variables */
:root {
  --white: #fff;
  --black: #323135;
  --crystal: #a8dadd;
  --columbia-blue: #cee9e4;
  --tblack: rgba(0, 0, 0, 0.5);
  --yellow: #e5f33d;
}

/* Button default styles */
button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

/* Anchor tag default styles */
a {
  color: inherit;
}

/* Style the body element */
body {
  background: #000;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 1540px;
  background-image: url('Extras/layer_1.png');
  background-repeat: no-repeat;
  background-size: contain;
}

/* Main container styling */
.main {
  width: 100%;
  min-height: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navigation bar styling */
nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo image styling */
nav .Terraria {
  width: 300px;
}

/* Navigation menu item styling */
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

/* Navigation links styling */
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 20px;
}

/* Hover and active state styling for navigation links */
nav ul li a:hover,
nav ul li a.Active {
  background: #fff;
  color: #2b1055;
}

/* Section styles */
.section {
  padding: 50px 0;
}

/* Container inside section styles */
.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* Section heading styles */
.section h1 {
  font-size: 2.5rem;
  line-height: 1.25;
}

/* Section subheading styles */
.section h2 {
  font-size: 1.3rem;
}

/* Timeline container styles */
.timeline {
  position: absolute;
  top: 24%;
  white-space: nowrap;
  max-width: 1400px;
  padding: 0 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 320px auto;
  grid-gap: 20px;
}

/* Timeline gradient before and after styles */
.timeline::before,
.timeline::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 30px;
  width: 100px;
  z-index: 2;
}

.timeline::after {
  right: 0;
  background: linear-gradient(270deg, var(--timeline-gradient));
}

.timeline::before {
  left: 340px;
  background: linear-gradient(90deg, var(--timeline-gradient));
}

/* Timeline info box styles */
.timeline .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
  color: var(--white);
  background: var(--tblack);
  white-space: normal;
  border-radius: 10px;
}

/* Timeline info image styles */
.timeline .info img {
  margin-bottom: 20px;
}

/* Timeline info paragraph styles */
.timeline .info p {
  margin-top: 10px;
  color: var(--crystal);
}

/* Timeline info link styles */
.timeline .info a {
  text-decoration: none;
}

/* Timeline scrollbar styles */
.timeline ol::-webkit-scrollbar {
  height: 12px;
}

.timeline ol::-webkit-scrollbar-thumb,
.timeline ol::-webkit-scrollbar-track {
  border-radius: 92px;
}

.timeline ol::-webkit-scrollbar-thumb {
  background: var(--tblack);
}

.timeline ol::-webkit-scrollbar-track {
  background: var(--yellow);
}

/* Timeline ordered list styles */
.timeline ol {
  font-size: 0;
  padding: 250px 0;
  transition: all 1s;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-color: rgba(225, 255, 255, 0.5) var(--tblack);
}

/* Timeline list item styles */
.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 5px;
  background: var(--white);
  scroll-snap-align: start;
}

/* Last timeline list item styles */
.timeline ol li:last-child {
  width: 340px;
}

/* Timeline list item margin styles */
.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

/* Timeline list item connection styles */
.timeline ol li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #01565b;
  z-index: 1;
}

/* Timeline list item detail box styles */
.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: var(--black);
  background: var(--white);
  border-radius: 0 10px 10px 10px;
}

/* Timeline detail box arrow styles */
.timeline ol li div::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Odd timeline list item detail box styles */
.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
  border-radius: 10px 10px 10px 0;
}

/* Odd timeline detail box arrow styles */
.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: var(--white) transparent transparent transparent;
}

/* Even timeline list item detail box styles */
.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

/* Even timeline detail box arrow styles */
.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent var(--white);
}

/* Timeline time styles */
.timeline time {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #01565b;
}

/* Media query for smaller screens */
@media screen and (max-width: 800px) {
  .timeline {
      display: block;
  }

  .timeline::before,
  .timeline::after {
      width: 50px;
  }

  .timeline::before {
      left: 0;
  }

  .timeline .info {
      display: none;
  }
}

/* Footer styling */
footer{
  width: 100%;
  height: 430px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 70px 0 30px;
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  font-size: 17px;
  line-height: 20px;
  z-index: 100;
  margin-top: auto;
}

/* Footer container styling */
.Foot{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

/* Footer information section styling */
.Info{
  flex-basis: 25%;
  padding: 10px;
}

/* Specific styling for second and third Info sections */
.Info:nth-child(2), 
.Info:nth-child(3){
  flex-basis: 15%;
}

/* Re-Logic logo styling in footer */
.Relogic{
  width: 200px;
  margin-bottom: 40px;
  margin-top: 25px;
}

/* Footer heading styling */
.Info h2{
  width: fit-content;
  margin-bottom: 50px;
  margin-top: 35px;
  position: relative;
  font-weight: bold;
}

/* Email section styling in footer */
.Email{
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

/* List item styling */
ul li{
  list-style: none;
  margin-bottom: 12px;
}

/* Footer links styling */
ul li a{
  text-decoration: none;
  color: white;
}

/* Form styling in footer */
form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

/* Font Awesome icons styling in form */
form .far{
  font-size: 18px;
  margin-right: 10px;
}

/* Form input styling */
form input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

/* Form button styling */
form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

/* Font Awesome icons styling in form button */
form button .fas{
  font-size: 16px;
  color: #ccc;
}

/* Social media icon styling */
.Socials .fab{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}

/* Horizontal rule styling */
hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

/* Copyright section styling */
.CopyRight{
  text-align: center;
}

/* Underline effect styling */
.Underline{
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

/* Animation span styling within underline */
.Underline span{
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10%;
  animation: moving 2s linear infinite;
}

/* Keyframes for underline animation */
@keyframes moving{
  0%{
      left: -20%;
  }
  100%{
  left: 100%;
  }
}